<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" [routerLink]="['/']">Schematic Hub</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/schematics']">Schematics</a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/shopping-list']">Shopping List</a>
      </li>
      
    </ul>
    <ul class="navbar-nav ml-auto">
      <ng-template [ngIf]="!auth">
        <a class="nav-link" routerLink="/signup">Register</a>
        <a class="nav-link" routerLink="/signin">Login</a>
      </ng-template>
      <a class="nav-link" style="cursor: pointer;" (click)="onLogout()" *ngIf="auth">Logout</a>
      <div ngbDropdown class="d-inline-block" *ngIf="auth">
        <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle style="cursor: pointer;">Manage</a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="cursor: pointer;">
          <button class="dropdown-item" (click)="onSaveData()">Save Data</button>
          <button class="dropdown-item" (click)="onFetchData()">Fetch Data</button>
        </div>
      </div>
    </ul>
  </div>
</nav>
